pre {
  float: left;
  text-align: justify;
  font-family: serif;
  color: #444;
  margin: 55px 0 0 30px;
  font-size: 1.05em;
  line-height: 1.8em;
}
.vco-layout-landscape .vco-storyslider .vco-slider-background {
  background-image: initial;
}
.vco-slide {
  margin-left: -10%;
  width: 110%;
  background-color: rgba(255, 255, 255, 0.96);
  border-left: 1px solid;
}
.vco-map .vco-mapmarker-active,
.vco-map .leaflet-container .leaflet-control-attribution .vco-knightlab-brand span, .vco-map .leaflet-container .leaflet-control-attribution a.vco-knightlab-brand span,
.vco-map .vco-mapmarker-active,
.vcard a:hover .fn,.vcard a:hover .nickname,
.vco-menubar-button:active,
.vco-menubar-button:hover,
.vco-storymap a,
.vco-storymap p a:hover,.vco-storymap p a:focus{
  color:#0F1722;
}
.vco-slide .vco-slide-calltoaction .vco-slide-calltoaction-button-text {
  background-color:#0F1722;
}
.vco-layout-landscape .vco-storyslider .vco-slider-background {
    margin-left: 0%;
}
.vco-storymap h2.vco-headline-title {
  font-size: 48px !important;
}
.vco-media-content img {
  max-width: 500px;
}
.vco-slide:first-child {
  background-color:#0F1722;
}
.vco-slide:first-child h2.vco-headline-title {
  color: #A0BEC1;
}
.vco-slide .vco-slide-content-container {
  padding-left: 10px;
}
